# Django settings
DEBUG=True
SECRET_KEY=django-insecure-5&of#v9!n=x^2$#g$^&*()_+
ALLOWED_HOSTS=*

# Database settings
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Email settings
EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=sent_emails

# Site settings
SITE_ID=1
LANGUAGE_CODE=en-us
TIME_ZONE=UTC

# Static and media settings
STATIC_URL=static/
MEDIA_URL=media/

# Rate limits
ACCOUNT_RATE_LIMIT_CONFIRM_EMAIL=3/m
ACCOUNT_RATE_LIMIT_LOGIN=5/m
ACCOUNT_RATE_LIMIT_SIGNUP=3/m
ACCOUNT_RATE_LIMIT_RESET_PASSWORD=3/m